In [3]:
# dict
my_dict = {
    "name":"홍길동",
    "age":40
}
print(type(my_dict))
name = my_dict['name']
print(name)

<class 'dict'>
홍길동

In [4]:
#key,value 한번에 출력하는 함수 items()
for k,v in my_dict.items():
    print(k,v)

name 홍길동
age 40

In [5]:
#10 + 20 = 30
def add(n1,n2):
    return n1 + n2

In [6]:
add(10,20)

30

In [7]:
def my_url(kind):
    #url = "https://openapi.naver.com/v1/search/{}.json".format(kind)
    url = f"https://openapi.naver.com/v1/search/{kind}.json"
    print(url)

In [8]:
my_url('news')
my_url('movie')
my_url('book')

https://openapi.naver.com/v1/search/news.json
https://openapi.naver.com/v1/search/movie.json
https://openapi.naver.com/v1/search/book.json

In [9]:
# split() 함수 사용
my_str = 'a/b/c'
result = my_str.split('/')
print(type(result), result)

<class 'list'> ['a', 'b', 'c']

In [10]:
lyric = '''
Yesterday all my troubles seemed so far away.
Now it looks as though they're here to stay.
Oh, I believe in yesterday.
'''
result = lyric.split('\n')
result

['',
 'Yesterday all my troubles seemed so far away.',
 "Now it looks as though they're here to stay.",
 'Oh, I believe in yesterday.',
 '']

In [11]:
# list comprehension (포괄적인 리스트)
# 적용전 before
numbers = [1,2,3,4]
result = []
for value in numbers:
    result.append(value ** 2)

result

[1, 4, 9, 16]

In [12]:
#적용 후 after
result2 = [ val ** 2 for val in numbers ]
result2

[1, 4, 9, 16]

In [13]:
# 적용전
even_list = []
for val in range(20):
    if val % 2 == 0:
        #print(val)
        even_list.append(val)

even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [14]:
# 적용후
even_list2 = [ val for val in range(20) if val % 2 == 0]
even_list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
#dict , list
song_list = []
for val in range(5):
    song_dict = {}
    song_dict['seq'] = val
    song_dict['title'] = 'Dynamite'
    #print(song_dict)
    song_list.append(song_dict)

song_list

[{'seq': 0, 'title': 'Dynamite'},
 {'seq': 1, 'title': 'Dynamite'},
 {'seq': 2, 'title': 'Dynamite'},
 {'seq': 3, 'title': 'Dynamite'},
 {'seq': 4, 'title': 'Dynamite'}]

In [16]:
import re

my_str = 'a\nb\rc\td' * 3
print(my_str)

#정규표현식 패턴(Pattern) 객체 생성
regexp = re.compile(r'[\n\r\t]')
print(type(regexp), regexp)
#Pattern 과 매칭되는 문자열을 찾아서 다른 문자열로 치환
result = regexp.sub(" ",my_str)
#str의 replace 함수로 중간 공백을 제거함
result = result.replace(" ","")
print(result)

a
c	da
c	da
c	d
<class 're.Pattern'> re.compile('[\\n\\r\\t]')
abcdabcdabcd

In [17]:
# tuple 형태로 여러개의 값을 반환하는 함수 선언
def swap(a,b):
    return (b,a)

In [18]:
n1,n2 = swap(10,20)
print(n1)
print(n2)

20
10

In [21]:
my_tuple=(1)
print(type(my_tuple))

my_tuple2=(1,)
print(type(my_tuple2))

<class 'int'>
<class 'tuple'>